<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dbs-women_and_tech</display-name>
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>EventNetworkServletCreate</display-name>
    <servlet-name>EventNetworkServletCreate</servlet-name>
    <servlet-class>eventNetwork.web.servlet.EventNetworkServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventNetworkServletCreate</servlet-name>
    <url-pattern>/EventNetworkServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EventNetworkServletRead</display-name>
    <servlet-name>EventNetworkServletRead</servlet-name>
    <servlet-class>eventNetwork.web.servlet.EventNetworkServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventNetworkServletRead</servlet-name>
    <url-pattern>/EventNetworkServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>EventNetworkServletUpdate</display-name>
    <servlet-name>EventNetworkServletUpdate</servlet-name>
    <servlet-class>eventNetwork.web.servlet.EventNetworkServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventNetworkServletUpdate</servlet-name>
    <url-pattern>/EventNetworkServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>EventNetworkServletDelete</display-name>
    <servlet-name>EventNetworkServletDelete</servlet-name>
    <servlet-class>eventNetwork.web.servlet.EventNetworkServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventNetworkServletDelete</servlet-name>
    <url-pattern>/EventNetworkServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LearningResourceServletCreate</display-name>
    <servlet-name>LearningResourceServletCreate</servlet-name>
    <servlet-class>learning_resource.web.servlet.LearningResourceServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearningResourceServletCreate</servlet-name>
    <url-pattern>/LearningResourceServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LearningResourceServletRead</display-name>
    <servlet-name>LearningResourceServletRead</servlet-name>
    <servlet-class>learning_resource.web.servlet.LearningResourceServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearningResourceServletRead</servlet-name>
    <url-pattern>/LearningResourceServletRead</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>LearningResourceServletUpdate</display-name>
    <servlet-name>LearningResourceServletUpdate</servlet-name>
    <servlet-class>learning_resource.web.servlet.LearningResourceServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearningResourceServletUpdate</servlet-name>
    <url-pattern>/LearningResourceServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>LearningResourceServletDelete</display-name>
    <servlet-name>LearningResourceServletDelete</servlet-name>
    <servlet-class>learning_resource.web.servlet.LearningResourceServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearningResourceServletDelete</servlet-name>
    <url-pattern>/LearningResourceServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findARUser</display-name>
    <servlet-name>findARUser</servlet-name>
    
    <servlet-class>eventNetwork.web.servlet.FindAllEventNetwork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findARUser</servlet-name>
    <url-pattern>/findARUser</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>findLR</display-name>
    <servlet-name>findLR</servlet-name>
    
    <servlet-class>learning_resource.web.servlet.FindAllLearningResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findLR</servlet-name>
    <url-pattern>/findLR</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findLRBook</display-name>
    <servlet-name>findLRBook</servlet-name>
    
    <servlet-class>learning_resource.web.servlet.FindBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findLRBook</servlet-name>
    <url-pattern>/findLRBook</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findMemberEvent</display-name>
    <servlet-name>findMemberEvent</servlet-name>
    
    <servlet-class>eventNetwork.web.servlet.FindMemberEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findMemberEvent</servlet-name>
    <url-pattern>/findMemberEvent</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>MenteeServletCreate</display-name>
    <servlet-name>MenteeServletCreate</servlet-name>
    <servlet-class>mentee.web.servlet.MenteeServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeServletCreate</servlet-name>
    <url-pattern>/MenteeServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>MenteeServletRead</display-name>
    <servlet-name>MenteeServletRead</servlet-name>
    <servlet-class>mentee.web.servlet.MenteeServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeServletRead</servlet-name>
    <url-pattern>/MenteeServletRead</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>MenteeServletDelete</display-name>
    <servlet-name>MenteeServletDelete</servlet-name>
    <servlet-class>mentee.web.servlet.MenteeServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeServletDelete</servlet-name>
    <url-pattern>/MenteeServletDelete</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>MenteeServletUpdate</display-name>
    <servlet-name>MenteeServletUpdate</servlet-name>
    <servlet-class>mentee.web.servlet.MenteeServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeServletUpdate</servlet-name>
    <url-pattern>/MenteeServletUpdate</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>MentorServletCreate</display-name>
    <servlet-name>MentorServletCreate</servlet-name>
    <servlet-class>mentor.web.servlet.MentorServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorServletCreate</servlet-name>
    <url-pattern>/MentorServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>MentorServletRead</display-name>
    <servlet-name>MentorServletRead</servlet-name>
    <servlet-class>mentor.web.servlet.MentorServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorServletRead</servlet-name>
    <url-pattern>/MentorServletRead</url-pattern>
  </servlet-mapping>
  
  
        <servlet>
    <description></description>
    <display-name>MentorServletDelete</display-name>
    <servlet-name>MentorServletDelete</servlet-name>
    <servlet-class>mentor.web.servlet.MentorServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorServletDelete</servlet-name>
    <url-pattern>/MentorServletDelete</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <description></description>
    <display-name>MentorServletUpdate</display-name>
    <servlet-name>MentorServletUpdate</servlet-name>
    <servlet-class>mentor.web.servlet.MentorServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorServletUpdate</servlet-name>
    <url-pattern>/MentorServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
