<!-- /templates/my-form.html-->

<html>
    <body>
        <form action="/register" method="POST">
            <div>
                Username: <input type="text" name="username"><br>
            </div>
            <div>
                Email: <input type="text" name="email"><br>
            </div>
            <div>
                Password: <input type="text" name="password"><br>
            </div>
            <input type="submit" value="Submit">
          </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 2%;
        }

        div {
            margin: 2% 0;
        }
    </style>
</html>